.form {
  display: flex;
  flex-wrap: wrap;
}

.trash-circle {
  position: absolute;
  bottom: -10px;
  left: -20px; /* Adjust the amount of shift */
  width: 40px; /* Adjust size of the circle */
  height: 40px; /* Adjust size of the circle */
  border-radius: 50%; /* Makes the square shape a circle */
  background-color: #f00; /* Adjust circle background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.FaTrashAlt {
  /* Adjust icon size and color */
  font-size: 20px;
  color: #fff;
}

.FaTrashAlt:hover {
  cursor: pointer;
}

.spinner-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Full viewport height */
  width: 90vh;
}

.spinner-container2 {
  position: absolute; /* اجعل العنصر مطلق لتحديده بشكل دقيق داخل .sub-container */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%; /* توسيط عامودي */
  left: 50%; /* توسيط أفقي */
  transform: translate(-50%, -50%); /* تصحيح التمركز بالتحويل */
  z-index: 3;

}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #30a18d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.error-icon {
  color: #d33; /* Red color for the error */
  font-size: 40px; /* Size of the icon */
  margin-bottom: 10px; /* Space between the icon and the error message */
}

.error-message- {
  margin-right: 10px;
  color: #2d2d2d;
  font-size: 15px;
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
