.show-model{
  margin: 12px;
  font-family: Tajawal, sans-serif;
}
.show-model-question{
  padding: 2%;
  //border: 1px solid green;
  font-family: Tajawal, sans-serif;
}
.jf{
  font-size: 18px;
  padding: 1%;
  width: 58%;
  box-shadow: 0 0 5px 0 #4E4D4F;
  max-height: 150px;
  margin: 3% 20% 2.5% 20%;
  border: 0 solid gray;
  border-radius: 0.50rem;
}